{% load static %}
<!-- FAVICONS ICON -->
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback">

<link rel="stylesheet" href="{% static 'admin_theme/plugins/fontawesome-free/css/all.min.css' %}">

{#    <link rel="stylesheet" href="../../../code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">#}

<link rel="stylesheet"
      href="{% static 'admin_theme/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">

<link rel="stylesheet" href="{% static 'admin_theme/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">

<link rel="stylesheet" href="{% static 'admin_theme/plugins/jqvmap/jqvmap.min.css' %}">

<link rel="stylesheet" href="{% static 'admin_theme/dist_file/css/adminlte.min2167.css' %}">

<link rel="stylesheet" href="{% static 'admin_theme/plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}">

<link rel="stylesheet" href="{% static 'admin_theme/plugins/daterangepicker/daterangepicker.css' %}">

<link rel="stylesheet" href="{% static 'admin_theme/plugins/summernote/summernote-bs4.min.css' %}">

{#    <link href="{% static 'admin_theme/datatables/css/jquery.dataTables.min.css' %}" rel="stylesheet">#}

<link href="{% static 'admin_theme/sweetalert2/dist_file/sweetalert2.min.css' %}" rel="stylesheet">

<link rel="stylesheet" href="{% static 'admin_theme/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">

<link rel="stylesheet"
      href="{% static 'admin_theme/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">

<link rel="stylesheet" href="{% static 'admin_theme/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">

<link rel="stylesheet" href="{% static 'plugins/taglist/css/taglist.css' %}">

<link rel="stylesheet" href="{% static 'custom_css/root.css' %}" />

