{% extends 'base.html' %}
{% load static %}
{% block title %} User {% endblock %}
{% block description %} User {% endblock %}

{% block css %}
    <link href="{% static 'custom_css/organization.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Statistics</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'visitor-home' %}">Dashboard</a></li>
                        <li class="breadcrumb-item active">Event</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="card card-body col-12">
                    <label>Filtros</label>
                    <div class="row">
                        <div class="col-3">
                            <label>Cidade</label>
                            <select class="form-control" id="city">
                                <option value=""> -- Selecione a cidade -- </option>
                                {% for obj in  cities %}
                                    <option value="{{ obj }}">{{ obj }}</option>
                                {% endfor %}

                            </select>
                        </div>
                        <div class="col-3">
                            <label>tipo</label>
                            <select class="form-control" id="type">
                                <option value=""> -- Selecione o tipo -- </option>
                                {% for obj in  types %}
                                    <option value="{{ obj }}">{{ obj }}</option>
                                {% endfor %}

                            </select>
                        </div>
                    </div>
                </div>

{#            Organization City Chart#}
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="card card-danger">
                        <div class="card-header">
                            <h3 class="card-title">Gráfico de eventos das cidades</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>

                        <div class="card-body">
                            <canvas id="city_donut_chart"
                                    style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>

                    </div>
                </div>
{#Organization Type Chart#}
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="card card-danger">
                        <div class="card-header">
                            <h3 class="card-title">Gráfico de tipos de eventos</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>

                        <div class="card-body">
                            <canvas id="type_donut_chart"
                                    style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>

                    </div>
                </div>

                <div class="col-lg-6 col-md-12 col-12">
                    <div class="card card-warning">
                        <div class="card-header">
                            <h3 class="card-title">Gráfico dos eventos do mês</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>

                        <div class="card-body">
                            <canvas id="event_bar_chart"
                                    style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>

                    </div>
                </div>

                <div class="col-lg-6 col-md-12 col-12">
                    <div class="card card-warning">
                        <div class="card-header">
                            <h3 class="card-title">Gráfico com as participações de eventos no mês</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>

                        <div class="card-body">
                            <canvas id="event_participant_bar_chart"
                                    style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>

                    </div>
                </div>

                <div class="col-6">
                    <div class="card card-warning">
                        <div class="card-header">
                            <h3 class="card-title">Gráfico com as notas dos eventos</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>

                        <div class="card-body">
                            <canvas id="event_participant_grade_chart"
                                    style="in-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>

                    </div>
                </div>

                <div class="col-6">
                    <div class="card card-warning">
                        <div class="card-header">
                            <h3 class="card-title">Gráfico com os preços dos eventos</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>

                        <div class="card-body">
                            <canvas id="event_price_chart"
                                    style="in-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src='{% static "custom_js/statistics.js" %}'></script>
    <script>

        let data;
        window.onload = function () {

            data = {
                "stats_url": "{% url 'event_stats' %}",
                "loader": "{% static 'images/loader.gif' %}"
            };

            new Statistics(data);
        }
    </script>
{% endblock %}