{% load static %}


<!-- jQuery -->
<script src="{% static 'admin_theme/plugins/jquery/jquery.min.js' %}"></script>

<script src="{% static 'admin_theme/plugins/jquery-ui/jquery-ui.min.js' %}"></script>

<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>

<script src="{% static 'admin_theme/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'admin_theme/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>

<script src="{% static 'admin_theme/sweetalert2/dist_file/sweetalert2.min.js' %}"></script>

<script src="{% static '/plugins/jquery/jquery.validate.min.js' %}"></script>

<script src="{% static '/plugins/jquery/additional-method.min.js' %}"></script>

<script src="{% static 'custom_js/utils/utils.js' %} "></script>

<script src="{% static 'custom_js/utils/sweetalerts.js' %} "></script>

<script src="{% static 'custom_js/common_script.js' %}"></script>

